*::before,
*::after,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Amatic SC", cursive;
}
/* google font */
.hidden {
	display: none;
}
.block {
	display: block;
}

body {
	background-image: url("./background.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	overscroll-behavior-y: none;
	overscroll-behavior-x: none;
}
h1 {
	font-size: 70px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 0 3rem;
}

.grid-item-1 {
	grid-area: 1 / 1 / 2 / 4;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	margin: 1rem 0 0 0;
}
.grid-item-2 {
	grid-area: 2 / 1 / 7 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-item-3 {
	grid-area: 2 / 3 / 7 / 4;
	min-width: 500px;
}

.overscroll-container {
	overflow-y: scroll;
	max-height: 20rem;
	display: flex;
	justify-content: center;

	padding: 1rem 0;
}

.canvas-container {
	width: 50rem;
	height: 50rem;
	position: relative;
}

/* Canvas style */
.canvas {
	position: absolute;
	width: 100%;
	border: 5px solid white;

	border-radius: 1rem;
}

/* Peg styles */
.peg {
	position: absolute;
	transition: all 0.3s ease-in-out;
	transform: rotate(45deg) scale(1);
	background: linear-gradient(to right, #ff7e5f, #feb47b);
	padding: 5px;
	background: linear-gradient(to right, #ff7e5f, #feb47b);
}
#highScores {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}
tbody {
}

.high-scores-table {
	justify-self: center;
	align-self: center;
	text-align: center;
	border: 1px solid #ccc;
}
td,
tr {
	color: white;
}

/* Number styles */
.number {
	position: absolute;
	font-size: 20px;
	color: rgb(239, 120, 9);
	font-family: Arial, sans-serif;
	text-align: center;
}

/* When gravity is enabled */
.gravity-enabled .peg {
	transform: scale(1.1);
	background-color: #ff0000;
}

/* Sequence sum styles */
.sequence-sum {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 20px;
	color: #fff;
	font-family: Arial, sans-serif;
	text-shadow: 2px 2px 2px rgb(233, 18, 18);
}

/* Add a border around the peg when the mouse is over it */
.peg:hover {
	border: 5px solid rgb(240, 77, 12);
}
/* styling for reset button */
.reset-btn,
.btn {
	background-color: transparent;
	padding: 1rem;
	box-shadow: none;
	border: none;
	background-color: white;
	border-radius: 10px;
	margin: 1rem 0;
	cursor: pointer;
	max-width: 10rem;
	justify-self: center;
	align-self: center;
	transition: 0.2s;
	font-size: 1.5rem;
}

.reset-btn:hover,
.btn:hover {
	background-color: #a290ff;
	color: white;
}
/* Styling for results Div */
#trivia {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}
#trivia > h2 {
	text-align: center;
}
.result {
	text-align: left;
}

/*High Scores Modal*/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(216, 216, 27); /* Fallback color */
	background-color: #f2f2f2;
	box-shadow: 0px 0px 10px #ccc;
}

/* Modal Content/Box */
.modal-content {
	background-color: #a290ff;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid rgb(0, 0, 0);
	width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

th,
td {
	padding: 20px;
}
